/Problem 1/JavaApplication9/nbproject/private/
/Problem 1/JavaApplication9/build/
/Problem 2/Problem2/nbproject/private/
/Problem 2/Problem2/build/
/Problem 3/LargestPrimeFactor/nbproject/private/
/Problem 3/LargestPrimeFactor/build/
/Problem 4/Palindrome/nbproject/private/
/Problem 4/Palindrome/build/
/Problem 5/SmallestMultiple/nbproject/private/
/Problem 5/SmallestMultiple/build/
/Problem 6/SumSquareDifference/nbproject/private/
/Problem 6/SumSquareDifference/build/
/Problem 7/10001st prime/nbproject/private/
/Problem 7/10001st prime/build/
/Problem 8/LargestProductInSeries/nbproject/private/
/Problem 8/LargestProductInSeries/build/