/Problem 1/JavaApplication9/nbproject/private/
/Problem 1/JavaApplication9/build/
/Problem 2/Problem2/nbproject/private/
/Problem 2/Problem2/build/
/Problem 3/LargestPrimeFactor/nbproject/private/
/Problem 3/LargestPrimeFactor/build/